table {
  border: 1px solid #FF6961;
  text-align: left;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #FF6961;
  padding: 5px;
}

table tbody td {
  font-size: 13px;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FF6961;
}